.list-group-item
  %h4.list-group-item-heading Comment by #{comment.author_name}
  %p.list-group-item-text= comment.body
  %p.text-muted Posted #{distance_of_time_in_words(comment.article.created_at, comment.created_at)} later
